
<% @jobs.each do |job| %>
  
<div class="title">
  <span class="blue"><%= job.name %></span>
</div>

  		<%= link_to t(:respond), new_feedback_path(:text=>job.name+"\n"),:class=>"respond"%>

<p>
  <%= job.discription %>
</p>
<br />

	<script async type="text/javascript">
	VK.Widgets.Like("vk_like", {type: "mini", height: 20});</script>
	<div class="g-plusone"></div>
	
	<a href="https://twitter.com/share" class="twitter-share-button" data-via="ExampleApp" data-lang="ru">Твитнуть</a>
	<script async>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	<div class="fb-like" data-send="false" data-width="450" data-show-faces="true"></div>
	
<% end %>


<br />

<%= link_to 'Back', "/" %>
