
<div class="title">
	<%= link_to t(:last_news),'/news',:class=>'news'%>
</div>
    <div class="news_box">
        <div class="news_icon"></div>
        <div class="news_content">
  			<%= link_to @last_news.title,@last_news,:class=>'news'%></br>
  			
        </div>   
    </div>     
</div> 
