	<div class="title">
		<span class="blue"><%=t :all_news%></span>
	</div>
	
	<div class="about">
<% @news.each do |news| %>
 <p>
  	<%= link_to news.title,news,:class=>'news'%><br>
</p>
<% end %>

<br />

</div>
<%= link_to t(:back), "/"%>

