<div class="center_content">

	<div class="title">
		<span class="blue"><%=t :about%></span>
	</div>
	<div class="about">
		
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin hendrerit odio sit amet odio semper vehicula varius est elementum. Maecenas accumsan, libero id porta auctor, nunc ligula posuere elit, at aliquet lacus diam sed nisi. Nullam non tortor quis lorem accumsan varius quis eget dui. Nunc lorem leo, lacinia id facilisis a, elementum at quam. Nunc gravida vehicula neque, ac blandit nisl semper vel. Donec varius viverra interdum. Vivamus ligula quam, pharetra id congue et, pharetra quis dolor. Nunc quis quam eget mauris adipiscing suscipit. Nulla eu imperdiet tellus. Sed pretium ullamcorper volutpat. Aliquam pharetra egestas metus, vitae semper est molestie sed. Donec eu mi mi, id convallis tellus. Integer in enim lectus, eu congue risus. Curabitur sollicitudin pellentesque lectus eu pellentesque. Donec adipiscing varius mauris in euismod. Nunc nec porta elit.

Nullam urna nisi, tempor vel placerat id, accumsan vitae urna. Ut suscipit tortor eget ante fermentum a interdum velit fermentum. Sed euismod aliquam ante, eu dapibus urna rhoncus nec. Nulla et turpis in ante rhoncus pulvinar quis eu enim. Sed scelerisque orci et libero porta volutpat. Vivamus eget dui lorem, vitae sagittis orci. Cras pulvinar diam vel nunc sagittis at commodo mi interdum. Cras nisl sapien, commodo non suscipit ut, euismod ac elit.

Vestibulum ac lorem at mi dignissim ultricies. Ut non eros et velit vehicula malesuada. In at magna quis urna consequat pellentesque interdum sed lacus. Cras gravida justo risus. Quisque blandit risus nec lorem imperdiet ullamcorper. Nam posuere pellentesque nisi, et molestie turpis commodo vitae. Nulla urna ante, cursus sed sollicitudin at, vestibulum ac diam. Aliquam tristique elementum orci ut auctor. Donec vestibulum feugiat dui vel venenatis. Etiam mollis neque at arcu faucibus semper. Aenean sit amet est urna, in pulvinar dolor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ac lacus id lacus dignissim vehicula. Nulla non ante nunc. Duis gravida enim id sapien sagittis ultricies. Nulla rutrum turpis eget augue sollicitudin sed tincidunt felis malesuada.

Cras dictum dolor et risus dapibus at scelerisque velit ornare. Donec quam orci, ultricies at ultricies a, auctor vel massa. Duis consectetur quam libero, quis vestibulum velit. Praesent sit amet ligula eros. Etiam tincidunt neque at mi consectetur feugiat. Praesent purus nulla, mattis eget fermentum ac, ultricies condimentum lectus. Nunc non nisl orci. </p>

    <div class="clear"></div> 
</div>
