<div class="center_content">
		<div class="title">
		<span class="blue"><%=t :jobs%></span>
	</div>
<div class="about">
		</p>
			<span class="orange">Lorem ipsum dolor sit amet</span><br/>
<p> Proin hendrerit odio sit amet odio semper vehicula varius est elementum. Maecenas accumsan, libero id porta auctor, nunc ligula posuere elit, at aliquet lacus diam sed nisi. Nullam non tortor quis lorem accumsan varius quis eget dui. Nunc lorem leo, lacinia id facilisis a, elementum at quam. Nunc</p> 
		</div>
    <div class="clear"></div> 
</div>
