<div class="center_content">
	<div class="center_left">
		<div class="title">
			<span class="blue"><%=t :new_letter %></span>
		</div>
		<div class="feedback">
			<%= render 'form' %>
		</div>
	</div>

	<div class="center_right">
		<div class="title">
			<span class="blue"><%=t :our_contacts%></span>
		</div>
		<div class="contacts">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mauris sem, facilisis at commodo aliquet, molestie nec quam. Praesent lobortis vestibulum nisi at interdum. Proin pulvinar fermentum dapibus. Donec egestas commodo nisi bibendum malesuada. Etiam sed libero blandit enim blandit euismod ut fermentum metus. Nam at metus non tellus laoreet sodales dapibus sed erat. Donec pretium magna non lacus consequat dapibus. Aliquam sodales dapibus velit vitae consectetur. Integer facilisis aliquet tortor ut ullamcorper. Vestibulum a tellus velit. Vestibulum tincidunt urna vitae magna iaculis condimentum rutrum ante semper. </p>
		</div>
	</div>
    <div class="clear"></div> 
</div>

